#navbar {
  display: grid;
  background-color: rgb(201, 213, 213);
  border-bottom: solid white 15px;
  opacity: 0.5;
  grid-template-columns: 15% 35% 35%;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 0 60px;
}

#nav-buttons {
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.footer-buttons {
  background-color: white;
  border-radius: 5px;
  /* height: 18px; */
  border: solid white;
  color: white;
}

#navbar #logo a {
  justify-items: left;
  font-size: 40px;
  font-weight: 750px;
  border-radius: 5px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(31, 53, 53);
  font-size: 15px bold;
}

a:hover {
  color: black;
}

#search-input {
  padding: 5 0 0 0;
  width: 200px;
  height: 16px;
}

#search-button {
  padding: 4px;
  border-radius: 5px;
}
