#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
.container {
  background-color: rgb(236, 247, 247);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid teal;
  border-style: double;
  row-gap: 20px;
  justify-items: center;
}

#card {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  text-align: left;
  background-blend-mode: color-burn;
}

#card .image {
  border: 1px solid #ddd;
  box-shadow: -4px -4px 10px -5px;
  border-radius: 4px;
  height: auto;
  float: right;
  padding: 10px;
  object-fit: cover;
}

.description {
  font-size: 0.7em;
  padding: 5px 0;
}

.about {
  background-color: skyblue;
  height: 500%;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */
