/* .container {
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(159, 239, 239);
  background-image: cover;
  border: 3px solid teal;
  border-style: double;
  padding: 25px;
  row-gap: 20px;
  justify-items: center;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}
.container {
  background-color: rgb(236, 247, 247);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid teal;
  border-style: double;
  row-gap: 20px;
  justify-items: center;
}

#card {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
  text-align: left;
  background-blend-mode: color-burn;
}

#card .image {
  border: 1px solid #ddd;
  box-shadow: -4px -4px 10px -5px;
  border-radius: 4px;
  height: auto;
  float: right;
  padding: 10px;
  object-fit: cover;
}

.form {
  width: 280px;
  margin: 0 auto;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}
/* img {

} */

.description {
  font-size: 0.7em;
  padding: 5px 0;
}

.about {
  height: 1000%;
}
